

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .topbar {
    background: #00796b;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
  }
  
  .topbar .contact-info i {
    font-style: normal;
    color: #fff;
    line-height: 0;
  }
  
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
  }
  
  @media (max-width: 575px) {
  
    .topbar .contact-info i a,
    .topbar .contact-info i span {
      font-size: 13px;
    }
  
  }
  .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
  }
  
  .topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  
  .topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
  }
  
  .topbar .social-links a:hover {
    color: #fff;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    background-color: var(--color-primary);
  }
  
  .header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo img {
    max-height: 70px;
    margin-right: 6px;
  }
  
  .header .logo  {
    font-size: 60px;
    margin: 0;
    font-weight:bold;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
 
  
  .sticked-header-offset {
    margin-top: 70px;
  }
  
  section {
    scroll-margin-top: 70px;
  }
 .button button{
  margin-top: 2px;
  padding: 5px;
  border-radius: 30px;
  color:white;
  height:50px;
  width: 130px;
  background-color: #00796b;
  margin-left:10%;
  border:2px solid lightgreen ;
  font-size:22px;
  transition:1s;
  
 }
 .button button:hover{
  color:black;
  background-color:#fff;
 
}
.deletebtn{
  width: 30px;
}

  
  

/* style for main page */

/* Media query for screens with a maximum width of 768 pixels (tablets) */
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .summary {
    width: 100%;
    margin-left: 0;
  }

  .total {
    flex-direction: column;
    margin-left: 0;
  }

  #table {
    width: 100%;
  }

  .inputitem {
    flex-direction: column;
    margin-left: 0;
  }

  button {
    margin-top: 20px;
    margin-left: 0;
  }
}

/* Media query for screens with a maximum width of 480 pixels (phones) */
@media only screen and (max-width: 480px) {
  .heading h2 {
    font-size: 30px;
  }

  .summary {
    height: auto;
  }

  #updatedBal {
    font-size: 30px;
  }

  .summary h2 img {
    width: 100%;
    height: auto;
  }

  .total {
    flex-direction: column;
    margin-left: 0;
  }

  .total div {
    width: 100%;
  }

  #table {
    width: 100%;
  }

  .inputitem {
    flex-direction: column;
    margin-left: 0;
  }

  button {
    margin-top: 20px;
    margin-left: 0;
  }

  .add {
    font-size: 200%;
    margin-bottom: 10px;
  }

  #itemType {
    width: 100%;
    margin-left: 0;
  }
}


/* style for heading */
.heading h2{
	color:#0d0d0d;
  text-align: center;
  margin-bottom: 2%;
  font-size:40px;
}
body { 
	display: flexbox; 
	text-align: center; 
	align-items: center; 
} 



/* Style to expense summary */


.summary { 
	width: 400px;
	display: flex; 
	flex-direction: column; 
	text-align: center; 
	margin:-1px; 
	margin-bottom: 40px; 
	padding: 1%; 
	color: #fff;
	margin-left: -40px;
 height: 370px;
}
 
#updatedBal{
	font-size:40px;
	color:rgba(246, 238, 4, 0.802);
}
.summary h2 img{
	width:350px;
	height:150px;
}
.summary h2 span{
     color: green;
	 font-size: 40px;
}



.total { 
	display: flex; 
	flex-direction: row; 
	margin: auto;
  background-color:#00796b;
  margin-left:9%;
  
	
} 
.total h2{
	font-size: 29px;
  
	
}
.income h2{
     color:lime;
}
.Expenses h2{
	color: red;
}

.total div { 
	width: 160px; 
} 
#items h2{
  color: #171616;
  margin-bottom: 5px;
}

/* Style for the expense table and input form*/
.root { 
	width: fit-content; 
	
	display: flex; 
	margin: auto; 
	padding: 2%; 
	padding-top: 1%; 
	justify-content: center; 
	text-align: left; 
	border-width: 6px; 
	border: 6px grey; 
	box-sizing: content-box; 
	box-shadow: 5px 4px 8px 0 black; 
	min-height: 30vh; 
	background: rgba(0, 131, 116, 0.8);
	color: #fff;
  margin-bottom: 9px;
} 



/* Style for table*/

#table { 
	
	width: 40vw; 
	
	font-size: 23px; 
	box-shadow: 8px 5px 9px black;
	margin-left: -9px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
} 

/* Table */
#table th, 
#table td { 
	text-align: left; 
	padding: 12px; 
	font-family: 'DM Serif Display', serif;
	font-family: 'Kalnia', serif;
} 

/* Table row */
#table tr { 
	border-bottom: 1px solid #ddd; 

} 

/* Headings*/
#table tr.titles { 
	background-color:#00796b;
	color: #ddd;
	
	
} 

/* Style for each input item */
.inputitem { 
	display: flex; 
	flex-direction: row; 
	font-weight: bolder; 
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: -2%; 
	margin-top: 9px;
	margin-left: 30px;
	text-align: left;
	margin-bottom: 8px;
} 


input, 
select, 
option { 
	padding: 4%; 
	border-radius: 5px; 
	margin: 1%; 
	width: 50%;
	box-shadow: 5px 5px 5px black;
	
	
	
} 
img{
	border-radius: 10px;
  margin-top: 10px;
}
h1{
	text-shadow: 2px 2px black;
	font-size: 590%;
	margin-top: 0px;
	margin-bottom: 1px;

	
}
h2{
	margin-top: 3px;
	font-size: 30px;
	color: #fff;
	
}.add{
	font-size: 250%;
	text-align: center;
	margin-bottom: 19px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	height: 9%;
}
#itemType{
	width: 50%;
	margin-left: 51px;
}

button{
	margin-top: 90px;
	font-size: 20px;
  margin-left: 190px;
	font-family:  serif;
	font-weight: bold;
  box-shadow: 3px 3px 3px black;

	
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #171616;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #fffb00, #96d77c,yellow,pink);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-
    out;
    border-radius: 10px;
	
}



.glow-on-hover:hover:before {
    opacity: 1;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; };
}p{
	font-size: 21px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

 
.zoom { 
	color: black; 
	transition: transform .2s; 

} 

.zoom:hover { 
	transform: scale(1.23); 

	color:green;
}



/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    font-size: 14px;
    background-color: var(--color-primary);
    padding: 50px 0;
    color: white;
    text-align: left;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
    color:white;
  }
  
  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  
  .footer .footer-info p {
    font-size: 19px;
    font-family: var(--font-primary);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
    font-size: 15px;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }
  .container p{
    font-size:8px;
  }
  
