/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .topbar {
    background: #00796b;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
  }
  
  .topbar .contact-info i {
    font-style: normal;
    color: #fff;
    line-height: 0;
  }
  
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
  }
  
  @media (max-width: 575px) {
  
    .topbar .contact-info i a,
    .topbar .contact-info i span {
      font-size: 13px;
    }
  }
  
  .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
  }
  
  .topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
  }
  
  .topbar .social-links a:hover {
    color: #fff;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    background-color: var(--color-primary);
  }
  
  .header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  .header .logo h1 span {
    color: #f96f59;
  }
  
  .sticked-header-offset {
    margin-top: 70px;
  }
  
  section {
    scroll-margin-top: 70px;
  }
  
  /*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
  @media (min-width: 1280px) {
    .navbar {
      padding: 0;
	  float: right;
	  margin-right: 10px;
    }
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navbar li {
      position: relative;
    }
  
    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3px;
      font-family: var(--font-secondary);
      font-size: 16px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.6);
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: var(--color-secondary);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
      visibility: visible;
      width: 100%;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }
  
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 28px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
  
    .navbar .dropdown ul li {
      min-width: 200px;
    }
  
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 600;
      color: #006a5d;
    }
  
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
  
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: var(--color-secondary);
    }
  
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  @media (min-width: 1280px) {
  
    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
  }
  
  /*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
  @media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }
  
    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: rgba(0, 131, 116, 0.9);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: var(--font-primary);
      font-size: 15px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }
  
    .navbar .getstarted,
    .navbar .getstarted:focus {
      background: var(--color-primary);
      padding: 8px 20px;
      border-radius: 4px;
      margin: 15px;
      color: #fff;
    }
  
    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
      color: #fff;
      background: rgba(0, 131, 116, 0.8);
    }
  
    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      padding: 10px 0;
      margin: 10px 20px;
      transition: all 0.5s ease-in-out;
      background-color: #007466;
      border: 1px solid #006459;
    }
  
    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }
  
    .mobile-nav-show {
      color: rgba(255, 255, 255, 0.6);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      margin-right: 10px;
    }
  
    .mobile-nav-hide {
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 9999;
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .navbar {
      right: 0;
    }
  
    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(0, 106, 93, 0.8);
      z-index: 9996;
    }
  }
  
  :root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #222222;
    --color-primary: #008374; /* This is home page background color */
    --color-secondary: #f85a40;/* This is navbar downline */
  }
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  
  a {
    color: var(--color-primary);
    text-decoration: none;
	float: left;
	margin-top: 10px;
  }
  
  a:hover {
    color: #00b6a1;
    text-decoration:none;
}

/* style for main page */


/* style for heading */
.heading h2{
	color:#00796b;
  text-align: center;
  margin-bottom: 2%;
  font-size:40px;
}

/* Style to expense summary */
.summary { 
	width: 400px;
	display: flex; 
	flex-direction: column; 
	text-align: center; 
	margin:-1px; 
	margin-bottom: 40px; 
	padding: 1%; 
	color: #fff;
	margin-left: -40px;
 height: 370px;
	
	
	 
} 
#updatedBal{
	font-size:40px;
	color:rgba(246, 238, 4, 0.802);
}
.summary h2 img{
	width:300px;
	height:150px;
}
.summary h2 span{
     color: green;
	 font-size: 40px;
}



.total { 
	display: flex; 
	flex-direction: row; 
	margin: auto;
	
} 
.total h2{
	font-size: 29px;
	
}
.income h2{
     color:green;
}
.Expenses h2{
	color: red;
}

.total div { 
	width: 200px; 
} 

/* Style for the expense table and input form*/
.root { 
	width: fit-content; 
	
	display: flex; 
	margin: auto; 
	padding: 2%; 
	padding-top: 1%; 
	justify-content: center; 
	text-align: left; 
	border-width: 6px; 
	border: 6px grey; 
	box-sizing: content-box; 
	box-shadow: 0 4px 8px 0 #00796b; 
	min-height: 30vh; 
	background-color: #111;
	color: #fff;
} 


/* Style for the verticle bar*/
.vertical { 
	color: rgb(35, 35, 106); 
	margin: 0 2%; 
	border-width: 2px; 
} 

/* Style for table*/

#table { 
	
	width: 40vw; 
	
	font-size: 23px; 
	box-shadow: 8px 5px 9px #00796b;
	margin-left: -9px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
} 

/* Table */
#table th, 
#table td { 
	text-align: left; 
	padding: 12px; 
	font-family: 'DM Serif Display', serif;
	font-family: 'Kalnia', serif;
} 

/* Table row */
#table tr { 
	border-bottom: 1px solid #ddd; 

} 

/* Headings*/
#table tr.titles { 
	background-color:#00796b;
	color: #ddd;
	
	
} 

/* Style for each input item */
.inputitem { 
	display: flex; 
	flex-direction: row; 
	font-weight: bolder; 
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: -2%; 
	margin-top: 9px;
	margin-left: 30px;
	text-align: left;
	margin-bottom: 8px;
} 


input, 
select, 
option { 
	padding: 4%; 
	border-radius: 5px; 
	margin: 1%; 
	width: 50%;
	box-shadow: 5px 5px 5px #00796b;
	
	
	
} 
img{
	border-radius: 10px;

	margin-top: 10px;
}
h1{
	text-shadow: 2px 2px  black;
	font-size: 590%;
	margin-top: 0px;
	margin-bottom: 1px;

	
}
h2{
	margin-top: 3px;
	font-size: 30px;
	color: #fff;
	
}.add{
	font-size: 250%;
	text-align: center;
	margin-bottom: 19px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	height: 9%;
}
#itemType{
	width: 50%;
	margin-left: 51px;
}

button{
	
	margin-top: 90px;
	font-size: 20px;
  margin-left: 160px;
	font-family:  serif;
	font-weight: bold;
  box-shadow: 5px 5px 5px  #00796b;

	
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #171616;
    
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #fffb00, #96d77c,yellow,pink);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
	
}



.glow-on-hover:hover:before {
    opacity: 1;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; };
}p{
	font-size: 21px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

 
.zoom { 
	color: black; 
	transition: transform .2s; 

} 

.zoom:hover { 
	transform: scale(1.23); 

	color:green;
}
/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    font-size: 14px;
    background-color: var(--color-primary);
    padding: 50px 0;
    color: white;
    text-align: left;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  .footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }
